/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./components/loading-dots.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
.loading-dots_loading__LGQca {
  display: inline-flex;
  align-items: center;
}

.loading-dots_loading__LGQca .loading-dots_spacer__wFqmZ {
  margin-right: 2px;
}

.loading-dots_loading__LGQca span {
  animation-name: loading-dots_blink__8d9bo;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 1px;
}

.loading-dots_loading__LGQca span:nth-of-type(2) {
  animation-delay: 0.2s;
}

.loading-dots_loading__LGQca span:nth-of-type(3) {
  animation-delay: 0.4s;
}

@keyframes loading-dots_blink__8d9bo {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

